@tailwind base;
@tailwind components;
@tailwind utilities;

.text-clamp{
    font-size: clamp(.8rem, 2vw, 1.4rem);
}

.text-clamp-2{
    font-size: clamp(1.3rem, 2vw, 1.6rem);
}
.text-clamp-3{
    font-size: clamp(.5rem, 1.4vw, 0.9rem);
}